scikit-learn
fastapi
uvicorn[standard]
python-multipart       # for UploadFile / Form
pandas
openpyxl               # for Excel reading/writing
osmnx                  # for OSM graph routing
networkx
folium
geopandas              # OSMnx dependency
shapely                # OSMnx dependency
rtree                  # optional, for spatial queries
matplotlib             # optional for OSMnx plotting
requests               # OSMnx fetches data online
numpy
